/*------------------------------------*\
    Section - skills
\*------------------------------------*/

.skills-container-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
}

h6 {
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	background-color: #e3ed5a;
}

.icon.skill-icon {
	font-size: 35pt;
}

.icon.skill-icon:hover {
	filter: opacity(50%);
}

.illustrator:hover {
	filter: opacity(50%);
}

.icon-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px 0 30px 0;
	margin: 0 0 0px;
	color: black;
	max-width: 650px;
}

.icon-box {
	border: 2px solid transparent;
	margin: 20px;
	padding: 3px;
	min-width: 80px;
	max-width: 80px;
	min-height: 80px;
	max-height: 80px;
}

.icon-box h4 {
	font-size: 95%;
	color: black;
}

  .inner-content>.skill-descriptor {
	  display: block;
  }

  div h4 {
	  color: black;
	  font-weight: bold;
	  padding: 0 0.5rem 0 0.5rem;
  }

/*------------------------------
	MAIN
------------------------------*/
html,
body {
	height:100%;
}

body {
	font-family: 'open sans', sans-serif;
	overflow-x:hidden;
}

h1 {
	display:none;
}

a,
a:focus,
a:hover {
	outline:0 none;
	text-decoration:none;
}

p {
	margin: 0 0 20px;
	font-size:16px;
	line-height:28px;
}

h2 {
	margin:0 0;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Knewave', cursive;
	color: black;
	text-transform: uppercase;
	font-size:80px;
	letter-spacing: -2px;
	font-weight: bolder;
}

h4 {
	color:#B45F06;
	font-family:'source code pro', monospace;
	margin-top:0;
}

.content-first {
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	color:black;

}

.content-second {
	background-color: white;
	padding:0 0;
	color:black;

	text-align:center;
}

ul { /**remove auto indent**/
	margin: 0;
	padding: 0;
}

.scrollpoint {
	opacity:0;
}

.scrollpoint.active {
	opacity:1;
}

/* SCROLL UP BUTTON */

.scroll-up {
    position: fixed;
    bottom: 15px;
    right: 25px;
    color: white;
	border:1px solid rgba(0,0,0,0.2);
    font-size: 16px;
    display: none;
	width:45px;
	height:44px;
	text-align:center;
	padding-top:9px;
	z-index:1000;
	transition-duration:0.5s;
	background-color: black;
	border-radius:50%;
}

.scroll-up:hover { 
	background-color:#e3ed5a;
	border-color:white;
	padding-top:0px;
	color: black;
}

/*------------------------------
	BUTTONS
------------------------------*/

.btn,
.btn:hover,
.btn:focus {
	font-family:'source code pro', monospace;
	font-style: italic;
	border-bottom:4px solid #FFFFFF;
	color:#FCE5CD;
	transition-duration:0.4s;
}

.btn-primary {
	background-color: transparent;
	font-size: 1.5rem;
	border: black;
	color: black;
	font-family: 'source code pro', monospace;
	font-style: bold;
	text-transform: uppercase;
	margin-top: 5px;

}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #e3ed5a;
	color: black;
	text-transform: uppercase;
	font-style: normal;
	border: none;
}

.btn-reference {
	display: inline;
	border:1px solid #FFFFFF;
	border-bottom:3px solid #FFFFFF;
	background-color:#FFF2CC;
	color: black;
	margin: 20px;
}

.btn-reference:hover,
.btn-reference.btn-active {
	color:black;
	background-color: #e3ed5a;
}

/*------------------------------
	NAVBAR
------------------------------*/

.navbar-default {
	margin:0;
	background-color:whitesmoke;
	border:none;
	border-radius:0;
	height:78px;
	padding-top:3px;
	border-bottom:8px solid rgba(0,0,0,0.1);
	display:none;
}

.navbar-default .navbar-brand {
	font-family:'knewave', cursive;
	padding:23px 0 0 25px;
	color:black;
	font-size:35px;
	transition-duration:0.7s;
}

.navbar-logo {
	padding:7px 0 0 0;
	max-height: 65px;
	width: auto;
}

.navbar-default .navbar-brand:hover {
	color:#e3ed5a;
}

.navbar-default .navbar-nav > li > a {
	color:black;
	font-family:'open sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:6px;
	font-size:14px;
	border-left:4px solid transparent;
	transition-duration:0.7s;
}

.navbar-default .navbar-nav > li > a.blog_menu_link:hover{
	background-color: #ddeb1e;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #ddeb1e;
	font-weight: bold;
}


.navbar-collapse {
	margin:0;
	background: whitesmoke;
	border:none;
	border-radius:0;
	padding-top:3px;
	overflow:hidden;
}

.navbar-collapse.in {
    overflow-y: hidden;
}
/*------------------------------
	HEADER 	
------------------------------*/

header {
	text-align:center;
	background-color:white;
}

.jumbotron { /*hero*/
	margin:0;
	  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1602299670/goodnight-html-01_zcr769.png");
	  background-size: cover;
	  background-position: center top;
	  background-attachment: fixed;
	  min-height: 100vh;
}

#jumbotron-text {
	color: #e3ed5a;
	font-size: 70px;
	z-index: 1000;
}

.jumbotron img {
	visibility: hidden;
	margin:0 auto 0 auto;
	max-width: 40vw;
	margin-bottom: 15px;
}

.social-wrapper { /*change margin for placement of name and title*/
}



.social-wrapper h3 { /*subheading on jumbotron*/
	color: white;
	margin-top: -20px;
}

.brands { /*hides social media icons on jumbotron*/
	visibility: hidden;
}

.brands > li > a {
	background-color:transparent;
	color:black;
	border-top:3px solid black;
	transition-duration:0.2s;
}

.brands > li > a:hover {
	color: #B45F06;
	border-top:3px solid #B45F06;
}

.jumbotron .btn {
	margin-right:15px;
}

/*------------------------------
	ABOUT
------------------------------*/
#about {
	padding-bottom:0;
}

#about h3 {
	padding-bottom:5px;
	max-width:150px;
}

#about .brands > li > a {
	background-color:transparent;
	color:#FFFFFF;
	transition-duration:0.4s;
}



/* IMAGE OVERLAY */

.overlay-wrapper {
	position:relative;
}

.overlay-wrapper .overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
	text-align:center;
	padding-top:25%;
	border-radius:150px;
}

.overlay-wrapper:hover .overlay {
	background-color:rgba(0,0,0,0.5);
	opacity:1;
	transition-duration:0.6s;
}

#about .overlay-wrapper .brands > li > a {
	width:25px;
	margin-top:15px;
}

/*------------------------------
	SERVICES 
------------------------------*/

.inner-intro {
}

#service-outer-container {
}

.justify-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.service.service-wrapper {
	border: 10px solid rgba(128, 128, 128, 0.151);
	margin: 10px;
	background-image: linear-gradient(to bottom, #f5ffeb, #FFF2CC);
}



.service-list {
	display: block;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	padding-bottom: 20px;
	line-height: 20px;
	font-size: 95%;
	max-width: 250px;
	padding-left: 15px;
}

.service-list-item i {
	padding-right: 5px;
}

.service-list-item {
	text-align: left;
}

.service-wrapper>h3 {
	color: black;
	margin-top: 0;
	padding-top: 0;
}

.new-p-wrapper {
	display: flex;
	justify-content: center;
}

.new-p {
	font-family: 'open sans', sans-serif;
	font-weight: lighter;
	color: black;
	background-color: white;
	margin: 0;
	padding: 30px;
	padding-bottom: 45px;
	text-align: left;
	max-width: 1000px;
}

#get-started-button {
	margin: 0;
	width: 150px;
}

.subheading h3 {
	padding: 0 20px 0 20px;
}

h3 {
	color: black;
	font-family:'open sans', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 2px;
}

.extra-padding.header {
	margin-top: 100px;
	padding-bottom: 10px;
	margin-left: 30px;
	margin-right: auto;
	font-size: 30px;
}

#intro {
	background-color: white;
	min-height: 45vh;
}

/*------------------------------
	PORTFOLIO (me)
------------------------------*/
#portfolio {
}

.grid {
	padding: 20px;
	max-width: 1000px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	padding-bottom: 100px;
}

.grid li {
	display: inline-block;
	width: 350px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	background-color: #dae71fd2;
	color: whitesmoke;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: black;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 5px;
	display: block;
	background: whitesmoke;
	color: black;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'source code pro', monospace;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	margin: 2rem 0 1rem 0;
}

.learn-link figcaption a {
	position: absolute;
	bottom: 15px;
}

.visit-link figcaption a {
	position: absolute;
	bottom: 30px;
}

.cs-style-4 figcaption a:hover {
	color:white;
	background-color:black
}

/*------------------------------
	CONTACT
------------------------------*/
.contact-name {
	padding-top: 10px;
	font-size: 18pt;
}

.contact-method {
	font-size: 16pt;
	font-weight: bold;
}


#contact {
	padding-top: 200px;
}

.contact-wrapper {
	background-image: linear-gradient(to bottom, #f5ffeb, #FFF2CC);
	background-size: cover;
	background-attachment: fixed;
	display: block;
	margin-left: 20vw;
	margin-right: 20vw;
	padding: 30px 0 30px 0;
}

#contact h2 {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 5px;
}

.contact-info {
	display: inline-block;
	padding-bottom: 25px;
}

#contact-p {
	width: auto;
	padding: 40px;

}

/*------------------------------
	FOOTER
------------------------------*/

#footer {
	background-size: auto;
	text-align:center;
	padding:40px 0;
	color:black;

}

#footer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}

#footer .brands li a {
	color: black;
	
	border-radius:50px;
	border:0;
}

#footer .brands li a:hover {
	color: #B45F06;
}

#footer p {
	margin:0;
}

/*------------------------------
 LARGE DEVICES
------------------------------*/
@media (min-width:1380px) {
}


@media (min-width:1280px) and (max-width:1380px) {
	
}

@media (min-width:1200px) and (max-width:1279px) {
}

@media (min-width:1161px) and (max-width:1199px) {
	
}

@media (min-width:992px) and (max-width:1160px) {

}

@media (min-width:940px) and (max-width:991px) {

}

/*------------------------------
	MEDIUM DEVICES
------------------------------*/

@media (min-width:992px) and (max-width:1199px) {
		
}

/*------------------------------
	MEDIUM DEVICES
------------------------------*/

@media (min-width:0px) and (max-width:990px) {

	.service.service-wrapper {
		width: 100%;
		border: none;
		padding-left: 0;
		padding-right: 0;
		margin: 0 0 0 0;
		background-image: none;
	}

	.service-p {
		padding: 0 100px 0 100px;
	}

	.new-p {
		margin: 0 10vw 0 10vw;
	}

	.contact-wrapper {
		background-image: linear-gradient(to bottom, #f5ffeb, #FFF2CC);
		border: none;
}

/*------------------------------
	SMALL DEVICES
------------------------------*/

@media (min-width:768px) and (max-width:991px) {
	
	
	
	header {
		height:auto;
	}

	#contact h3 {
		margin:0 0 10px;
		font-size:22px;
	}

	.icon-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-image: none;
		padding: 30px 0 30px 0;
		margin: 0;
		color: black;
		max-width: 650px;
		border: none;
	}
}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/

@media (max-width:767px) {

	.service-p {
		padding: 0 2px 0 2px;
	}
	
	.service.service-wrapper {
		background-image: none;
	}

	.service.service-wrapper p {
		margin: 0 10vw 10px 10vw;
	}
	
	h2 {
		font-size: 75px;
	}

	#contact {
		background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1600894568/squig8_dinyl5.jpg");
		background-size: cover;
	}

	#portfolio {
		background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1600894568/squig8_dinyl5.jpg");
		background-size: auto;
	}

	.icon-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-image: none;
		padding: 30px 0 30px 0;
		margin: 0;
		color: black;
		max-width: 650px;
		border: none;
	}


	.navbar-collapse {
		box-shadow:none;
		border-top: 5px;
		border-bottom: 5px;
	}
	
	.navbar-default {	
		height:58px;
		padding-top: 0;
	}
	
	.navbar-logo {
		padding:5px 0 0 15px;
		width:55px;
	}
	
	.navbar-default .navbar-toggle {
		margin:0;
		background-color:#FFF2CC;
		border-radius:0;
		border: none;
		padding:3px 0 0;
		height:50px;
		width:50px;
		color: black;
		font-size:24px;
	}
	
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
		background-color: #e3ed5a;
	}
	
	.navbar-brand{
		top:-9px;
		position:relative;
	}
	
	
	h2 {
		font-size:75px;	
	}

	.content-first {
		padding:30px 0;
	}

	.content-second {
		padding:30px 0;
	}
	
	.scrollpoint {
		opacity:1;
	}

	header {
		height:auto;
	}
	
	.social-wrapper h2 {
		display:inline;
		padding:0 15px 0 15px;
		font-size:38px;
	}
	.jumbotron img {
		min-width: 300px;
		max-height:400px;
	}
	
	#about {
		padding-bottom:0;
		padding-top:0;
	}
	
	#skills {
		padding:0;
	}
	
	
	.grid li {
		width: 370px;
	}
	
	section > p {
		padding:0 20px;
	}
	
	#contact .contact-alert .alert {
		margin-bottom:20px;
	}
	
	#contact .contact-info {
		margin-top:35px;
	}
	
	.btn-footer {
		margin-top:10px;
	}

	#footer {
		background-color: whitesmoke;
	}

}

/*------------------------------
	PHONES 600px width
------------------------------*/

@media (max-width:600px) {
	.contact-wrapper {
		background-image: linear-gradient(to bottom, #f5ffeb, #FFF2CC);
		background-size: cover;
		background-attachment: fixed;
		display: block;
		margin-left: 0;
		margin-right: 0;
		padding: 30px 0 30px 0;
	}

}

/*------------------------------
	PHONES 548px width
------------------------------*/

@media (max-width:548px) {
	
	#jumbotron-text {
		font-size: 60px;
	}
}

/*------------------------------
	PHONES 480px width
------------------------------*/

@media (max-width:480px) {
	
	

	.subheading {
		font-size:
	}
}

/*------------------------------
	PHONES 375px width /*iphone 6/7/8 375 x 667
------------------------------*/

@media (width:375px) {

	.jumbotron {
		margin:0;
	  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1602630198/Asset_203_s2svue.png");
	  background-size: auto;
	  background-attachment: fixed;
	  min-height: 100vh;
	}

	.social-wrapper {
		padding: 0 10px 0 10px;
	}

	.social-wrapper h3 {
		color: white;
		margin-top: 10px;
		border-top: 1px solid white;
		font-size: 14pt;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	footer img {
		visibility: hidden;
	}

	.inner-intro h3 {
		size: 
	}
	
	.grid li {
		width: 280px;
	}
	
	h2 {
		font-size:60px;	
	}

	#jumbotron-text {
		font-size: 65px;
		color: #FCE5CD;
		margin-top: 0;
		padding-top: 0;
		line-height: 1.5;
	}
	
	.contact-method {
		font-size: 12pt;
	}

}

/*------------------------------
	PHONES 320px width
------------------------------*/

@media (max-width:320px) {
	
	.inner-intro h3 {
		size: 
	}
	
	.grid li {
		width: 280px;
	}
	
	h2 {
		font-size:60px;	
	}

	#jumbotron-text {
		font-size: 50px;
	}
	
	.contact-method {
		font-size: 12pt;
	}

}

