


body {
    color: #FFF2CC; /*pale yellow*/
    color: #B45F06; /*earwax*/
    color: #00CF00; /*bright green*/
    color: #91D000; /*grass green*/
    color: #CCCC04; /*yellow green*/
    color: #FCE5CD; /*peachy hover*/
    color: #FFF2CC; buttery 
    
}