


body {
    color: #FFF2CC; /*pale yellow*/
    color: #B45F06; /*earwax*/
    color: #00CF00; /*bright green*/
    color: #91D000; /*grass green*/
    color: #CCCC04; /*yellow green*/
    
    color: whitesmoke;
    color: #F2F046;
    color: #F22E2E;
    color: #169DF2;
    color: #176FA6;

    color: #FCE5CD;
    color: #FFB96E;
    color: #DE9649;
    color: #137091;
    color: #49B6DE;

    color: #FFF2CC;
    color: #FFD86E;
    color: #DEB949;
    color: #132A91;
    color: #4964DE;
    
    
    color: #FCE5CD; /*peachy hover*/
    color: #FFF2CC; /*buttery */
    color: #ebffdd;
    color: rgb(231, 248, 255);
    color: white
    
}